body {
  background: #cbdfe4;
  font-family: sans-serif;
}

.App-header {
  margin: 40px;
}

.App-header h1 {
  text-align: center;
  margin: 0 auto;
  font-size: 38px;
  font-weight: bold;
  color: #063f4e;
}

.App .footer {
  text-align: center;
  margin: 20px 0 20px 0;
  font-weight: bold;
  color: #0d5163;
}

.App a {
  color: #0d5163;
  transition: all 150ms ease-in-out;
}

.App a:hover {
  color: #3f8496;
}
