body {
  background-image: url(./coffee.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 40px;
}

.App-header h1 {
  text-align: center;
  margin: 0 auto;
  font-size: 54px;
  letter-spacing: 0.1em;
  font-weight: bold;
  color: #265e64;
}

.App .footer {
  text-align: center;
  margin: 20px 0 20px 0;
  font-weight: bold;
  color: #265e64;
}

.App a {
  color: #265e64;
  transition: all 150ms ease-in-out;
}

.App a:hover {
  color: rgba(38, 94, 100, 0.658);
}
