.Phonetics {
  height: 50px;
  margin-top: 10px;
}

.Phonetics a {
  border: 1px solid #ddd;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #a04139;
  padding: 8px 15px;
  margin-right: 15px;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
}

.Phonetics a:hover {
  background: #a04139;
  color: white;
}

.Phonetics .audio {
  opacity: 0.7;
  font-weight: bold;
}
