.Synonyms {
  margin-top: 15px 0 0;
  padding: 0px;
}

.Synonyms li {
  font-size: 14px;
  color: #265e64;
  display: inline-block;
  padding-top: 20px;
  padding-right: 10px;
  line-height: 1px;
  font-weight: bold;
}
